[includeIf "gitdir:~/NewRelic/**"]
  	path = ~/Newrelic/.gitconfig
[status]
	short = true
[user]
	email = newluxfero@gmail.com
	name = Martin Garcia
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
